*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--COLOR-FOREGROUND-DARK);
  background: var(--COLOR-BACKGROUND-LIGHT);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.4;
  font-family: var(--FONT-GOTHIC);
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: var(--FONT-WEIGHT-NORMAL);

  &.is-fixed {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
em,
b,
strong {
  font-weight: var(--FONT-WEIGHT-BOLD);
}

strong {
  color: var(--COLOR_ROLE_DANGER_DARK);
}

a {
  display: block;
  text-decoration: none;
  color: var(--COLOR-FOREGROUND-DARK);
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}