@use 'sass:meta';
@use 'sass:map';
@use '@/styles/_base/argument' as *;

// メディアクエリを設定
// @param {'pc' | 'sp' | 'hover'} $type       - メディアクエリのサポート範囲
// @param {Number}                $breakpoint - ブレークポイント（単位つき）
// =============================================================================
@mixin media($type: '', $breakpoint: $MAJOR_BREAKPOINT) {
  $typeMap: (
    sp: (max-width: $breakpoint - .02px),
    pc: (min-width: $breakpoint),
    hover: (any-hover: hover)
  );

  @if map.has-key($typeMap, $type) {
    @if $type == 'pc' {
      @media #{meta.inspect(map.get($typeMap, $type))} {
        @content;
      }
    } @else {
      @media #{meta.inspect(map.get($typeMap, $type))} {
        @content;
      }
    }
  } @else {
    @error '引数$typeは必須です。';
  }
}
